.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  z-index: 1;

  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadein 500ms;
  overscroll-behavior: none;
}

.signupModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: left;

  width: 416px;

  border-radius: 10px;
  z-index: 9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 20px rgba(0, 0, 0, 0.25);

  animation: fall 500ms;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fall {
  0% {
    top: -50%;
  }
  100% {
    top: 50%;
  }
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: left;

  background-color: #fff;

  border-radius: 10px;
  padding: 41px 33px 30px 33px;

  overflow-y: scroll;
}

.signupForm::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.centerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modalTitle {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 39px;
  color: var(--main-font-color);
}

.inputField {
  font-size: 18px;
  font-weight: 800;
  padding: 10px;

  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;

  background: var(--main-bg-input);
  border: 2px solid var(--main-font-color);
}

.inputField:focus {
  outline: 0;
}

.signupButton {
  width: 350px;
  height: 50px;

  font-size: 18px;
  font-weight: 800;
  color: #fff;

  padding: 11px;

  background: var(--main-font-color);
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  margin-top: 11px;

  transition: 300ms;
}

.signupButton:hover {
  cursor: pointer;
  background: var(--main-hover-button);
}

.signinText {
  font-size: 18px;
  color: black;
}

.hereButton {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin-left: 5px;

  transition: 300ms;
}

.hereButton:hover {
  cursor: pointer;
}

.closeButton {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  top: -20px;
  right: -180px;
  border: none;
  background: none;
}

.closeButton:hover {
  cursor: pointer;
}

.inputAddress {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 800;
  padding: 10px;

  width: 100%;
  min-height: 100px;
  border-radius: 5px;
  border: none;
  margin-bottom: 35px;

  background: rgba(210, 210, 210, 0.25);
  border: 2px solid rgba(210, 210, 210, 0.25);

  resize: none;
}

.genderRadio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 35px;
}

.genderRadio div {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

.genderRadio label {
  font-size: 18px;
  font-weight: 800;
  margin-left: 10px;
  /* margin-top: -5px; */
}

.signupWarning {
  position: relative;
  margin: 0 auto;
  top: -20px;
  color: red;
}
