.content {
  display: flex;
  flex-direction: row;

  padding: 50px 100px 0 100px;
}

.leftContent {
  display: flex;
  flex-direction: column;

  width: 50%;
  padding-right: 100px;
}

.rightContent {
  display: flex;
  flex-direction: column;

  height: 80vh;
  justify-content: center;

  width: 50%;
}

.contentTitle {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;

  color: var(--main-font-color);

  margin-bottom: 30px;
}

.inputField {
  font-size: 18px;
  font-weight: 800;
  padding: 10px;

  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 20px;

  background: var(--main-bg-input);
  border: 2px solid var(--main-font-color);
}

.inputField {
  outline: none;
}

.description {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 800;
  padding: 10px;

  width: 100%;
  min-height: 100px;
  border-radius: 5px;
  margin-bottom: 20px;

  background: var(--main-bg-input);
  border: 2px solid var(--main-font-color);
  resize: none;
}

.inputFileWrapper {
  display: flex;
  flex-direction: row;

  align-items: center;
  margin-bottom: 50px;
}

.inputFileLabel {
  font-size: 18px;
  font-weight: 800;
  padding: 10px;

  width: 40%;
  height: 50px;
  border-radius: 5px;

  background: var(--main-bg-input);
  border: 2px solid var(--main-font-color);
  cursor: pointer;
}

.inputIcon {
  margin-left: -30px;
  cursor: pointer;
}

.addProductButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
}

.addProductButton {
  width: 40%;
  margin: 0 50px;

  height: 40px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: white;

  background-color: var(--main-bg-button);

  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.addProductButton:hover {
  background-color: var(--main-hover-button);
}

.warningWrapper {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  color: red;

  height: 50px;
  width: 100%;
}

.closeIconButton {
  width: 50px;
  align-self: flex-end;
  margin-right: 26px;

  cursor: pointer;
}

.firstImage {
  width: 586px;
  height: 705px;

  object-fit: cover;
}
