.container {
  width: 100%;
  min-height: 100vh;

  background-color: #f9f9f9;

  padding: 60px 85px;
}

.title {
  font-size: 36px;
  margin-bottom: 30px;

  color: var(--main-font-color);
}

.incomeTable {
  border-collapse: collapse;

  width: 100%;
  text-align: left;

  padding-left: 10px;
  font-family: "Nunito", sans-serif;
}

.incomeTable th,
.incomeTable td {
  padding-left: 10px;
  text-align: left;
}

.incomeTable td,
.incomeTable th {
  border-right: 1px solid #c4c4c4;
}

.incomeTable tr {
  border: 1px solid #c4c4c4;
}

.incomeTable th:last-child,
.incomeTable td:last-child {
  text-align: center;
}
/* .incomeTable tr:nth-child(even) {
  background-color: #f9f9f9;
}
.incomeTable tr:nth-child(odd) {
  background-color: #fff;
} */

.tabelHead {
  background: #e5e5e5;
}

.incomeTable th {
  line-height: 50px;
}

.incomeTable td {
  border-bottom: 1px solid #c4c4c4;
  font-weight: normal;

  line-height: 60px;
}

.tdAddress {
  width: 500px;
  height: 80px;
  /* overflow-x: scroll; */
  /* overflow: hidden; */
  line-height: 30px !important;
  text-align: justify;
}

.pending {
  color: #f7941e;
  font-weight: 600 !important;
}

.approved {
  color: #0acf83;
  font-weight: 600 !important;
}

.cancel {
  color: #ff0742;
  font-weight: 600 !important;
}

.onProcess {
  color: #651fff;
  font-weight: 600 !important;
}

.onTheWay {
  color: #2fb6fd;
  font-weight: 600 !important;
}
.completed {
  color: #613d2b;
  font-weight: 600 !important;
}

.attachment {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.detailTransaction {
  width: 100px;
  height: 30px;

  border: none;
  background-color: var(--main-bg-button);
  color: white;

  font-size: 12px;

  font-weight: 600;
  border-radius: 5px;

  cursor: pointer;
}

.detailTransaction:hover {
  background-color: var(--main-hover-button);
}

.tdAction {
  /* display: flex;
  flex-direction: row; */

  width: 300px;

  justify-content: space-between;
}

.buttonCancel,
.buttonApprove,
.buttonOnTheWay,
.buttonComplete {
  width: 100px;
  height: 30px;

  border: none;

  font-size: 12px;

  font-weight: 600;
  border-radius: 5px;

  cursor: pointer;

  color: white;
}

.buttonCancel {
  background-color: #ff0742;
  margin-right: 20px;
}
.buttonCancel:hover {
  background-color: rgba(255, 7, 66, 0.7);
}

.buttonApprove {
  background-color: #0acf83;
}
.buttonApprove:hover {
  background-color: rgba(10, 207, 131, 0.8);
}

.buttonOnTheWay {
  background-color: #2fb6fd;
}
.buttonOnTheWay:hover {
  background-color: rgba(47, 182, 253, 0.7);
}

.buttonComplete {
  background-color: #613d2b;
}
.buttonComplete:hover {
  background-color: rgba(97, 61, 43, 0.8);
}
