.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;

  z-index: 1;

  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownWrapper {
  position: absolute;
  top: 100px;
  right: 40px;

  z-index: 9;

  width: 295px;

  /* padding: 31px 33px; */

  padding: 21px 23px;

  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  animation: dropdown 300ms;
}

@keyframes dropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.triangle {
  position: absolute;
  right: 5px;
  top: -25px;
}

.dropdownMenuWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;

  border-radius: 5px;
  margin-bottom: 17px;

  padding: 10px;
}

.dropdownMenuWrapper:hover {
  background-color: rgba(196, 196, 196, 0.25);
  cursor: pointer;
}

.dropdownMenuWrapper:not(:nth-child(2)) {
  margin-top: 17px;
}

.dropdownMenuWrapper:last-child {
  margin-bottom: 0;
}

.menuText {
  margin-left: 13px;

  font-size: 18px;
  font-weight: 900;
}

.divider {
  /* position: absolute;
  bottom: 83px;
  left: 0; */

  margin-left: -23px;

  border: 1px solid #a8a8a8;
  width: 295px;
  height: 1px;
}
